* {
    font-family: sans-serif;
}
.containerForBody {
    width: 75%;
    margin-top:15px;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    margin-bottom: 15px;
    min-height: 550px;
    
}
@media only screen and (max-width: 991px) {
    .containerForBody {
        width: 720px;
    }
}