.dropdown {
    border:none;
    // margin-top: 5.391px;
    // padding-top: 3.594px;
    border-radius: 5%;
    text-align: center;
    display: flex;
    align-items: center;
   
    .btn {
        background-color: #304977;
        display: flex;
        border-radius:0;
        border:none;
        box-shadow:none;
        padding: 6px  1px 15px 0px ;
        margin-right: 19px;
        &:focus{
            box-shadow:none;
        }
        &:hover {
            background-color: #7C8D8F;
        }
        svg{
            color:black;
            font-weight: bold;
            font-weight: 900;
            font-size: 1rem;
        }
        img {
            margin-right: 3px;
            margin-left: 5px;
            height: 20px;
            width: 20px;
        }
    }
}
.dropdown-menu {
    background-color: #7C8D8F;
    border: none;
    padding: .5rem 0.5rem .5rem 0;
    margin: 0;
    min-width: 45px;
    border-radius: 1px;
    text-align: center;
        .dropdown-item{ 
            padding: 0; 
            &:hover {
                background-color:#7C8D8F;
                opacity: 0.5;
            }
        img {
            margin-right: 1px;
            height: 20px;
            width: 20px;
        }   
        }
    }
