    .footerBody {
        width: 100%;
        padding: 0;
        padding-top: 1rem ;
        background-color: #7C8D8F;
        display: flex;
        flex-direction: column;
    }
    .footerContent {
        width: 100%;
        display: inline-flex;
    }
    
    .footerLogo {
        width: 25%;
        img{
            width: 160px;
            height: 160px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .footerLinks {
        width: 70%;
        margin-left: 3%;
        margin-right: 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            height: 18px;
            width: 18px;
            margin-right: .3rem; 
        }
        a{
            color: white;
            font-weight: 400;
            font-size: 18px;
        } 
    }
    .footerLinks-1{
        display: flex;
        flex-direction: column;
        width: 30%;
        div{
            display: flex;
            align-items: center;
        }
    }
    .footerLinks-2{
        display: flex;
        flex-direction: column;
        width: 30%;
        div{
            display: flex;
            align-items: center;
        }
    }
    .footerLinks-3{
        display: flex;
        flex-direction: column;
        width: 40%;
        div{
            display: flex;
            align-items: center;
        }
    }
  
    .webDeveloper {
        margin-bottom: 0.5%;
        width: 100%;
        font-size: 11px;
        bottom: 0;
        p {   
        color: #fff;
        text-align: center;
        margin: 0;
        a{
            color: #fff; 
        }
        }
    }
    @media only screen and (max-width: 1110px) {
        /* styles for browsers smaller than 1150px; */
        .footerContent{
            width: 100%;
            font-size: 17px;
            text-align: center;
            display: inline-flex;
        }
        .footerLinks {
            img{
                height: 17px;
                width: 17px;
            }
            a{
                font-size: 17px;
            } 
        }
        .footerLogo img{
            width: 150px;
            height: 150px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
    }
    
    @media only screen and (max-width: 991px) {
        /* styles for browsers smaller than 400px; */
        .footerContent{
            width: 100%;
            font-size: 16px;
            text-align: center;
            // display: inline-flex;
        }
        .footerLinks {
            img{
                height: 16px;
                width: 16px;
            }
            a{
                font-size: 16px;
            } 
        }
        .footerLogo{
            width: 24%;
        }
        .footerLogo img{
            width: 140px;
            height: 140px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media only screen and (max-width: 665px) {
        .footerContent{
            width: 100%;
            font-size: 14px;
            text-align: center;
            display: inline-flex;
        }
        .footerLinks {
            img{
                height: 16px;
                width: 16px;
            }
            a{
                font-size: 14px;
            } 
        }
        .footerLinks{
            width: 74%;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: auto;
            margin-top: auto;
            padding: 0;
            text-align: center;
            align-items: center;
            display: flex;
         
        }
        .footerLogo{
            width: 22%;
        }
        .footerLogo img{
            width: 120px;
            height: 120px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media only screen and (max-width: 560px){
        .footerContent{
            width: 100%;
            font-size: 12px;
            text-align: center;
            display: inline-flex;
        }
        .footerLinks {
            img{
                height: 16px;
                width: 16px;
            }
            a{
                font-size: 12px;
            } 
        }
        .footerLinks{
            width: 94%;
            margin-left: 3%;
            margin-right: 3%;
            margin-bottom: 10%;
            
    
        }
        .footerLogo{
            display: none;
        }
    }
    @media only screen and (max-width: 390px){
        .footerContent{
            width: 100%;
            text-align: center;
            display: inline-flex;
        }
        .footerLinks {
            text-align: center;
            img{
                display: none;
            }
            a{
                font-size: 14px;
            } 
        }
        .footerLinks{
            width: 94%;
            margin-left: 3%;
            margin-right: 3%;
            margin-bottom: 10%;
            margin-top: auto;
            padding: 0;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        .footerLinks-3{
            
            width: 30%;
        }
        .footerLinksTop {
            padding:0;
            width: 100%;
            margin: 0;
            text-align: center;
            display: inline;
            justify-content: center;
        }
        .footerLinksBottom{
            width: 100%;
            padding:0 ;
            margin: 0;
            text-align: center;
            display: inline;
            justify-content: center;
        }
        .footerLinks-1,.footerLinks-2,.footerLinks-3{
            div{
                justify-content: center;;
            }
        }
    }