.headerfixedPosition {
    //for fixing header
    display: flex;
    height: fit-content;
    width: 100%;
    height: 56px;
}
.container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    align-items: flex-end;
   
}
    
.header{
    background-color: #304977;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    .dropwdownLanguageBar{
        display: flex;
        flex-flow: row nowrap;
        float: right;
        align-items: center;
    }
}
.linkForContact{
    color: white;
    padding: 0.5rem 1rem;
    font-family: sans-serif;
    margin-right: 20px;
    flex-wrap: nowrap;
    height: 33px;
    white-space: nowrap;
    &:hover{
    text-decoration: none;
    opacity: 0.8;
    color:white;
    }
    padding: 6px 10px;
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
    line-height: 1 !important;
    
}
.accountLink {
    margin-right: 0;
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        flex-wrap: nowrap;
        max-width: 960px;

    }
}
@media (min-width: 768px){
     
    .linkForContact {
        margin-left: 2px;
    }
   
}
@media only screen and (max-width: 500px){
    .linkForContact {
        margin-left: 2px;
        font-size: 12px;
    }
    .container {
        flex-wrap: wrap;
        
    }
    .header {
        padding: 10px;
    }
    .dropwdownLanguageBar{
       .linkForContact {
           margin-right: 10px;
       }
       .dropdown{
           .btn-secondary{
            margin-right: 10px;
           }
       }
    }
     
}
@media only screen and (max-width: 390px){
    .container {
        .dropwdownLanguageBar{
            margin-top: 20px;
        }
    }
    .btn-secondary {
        margin-left: 0!important;
    }
}