.containerMain {
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerForMainComponent {
    width: 1140px;
    display: flex;
    // margin-top: 5px;
}
@media (max-width: 1200px){
    .containerForMainComponent {
        max-width: 960px;
        margin:auto;
    }
}
@media (max-width: 991px){
    .containerForMainComponent {
        width: 100%;
        max-width: 720px;
      display: flex;
      justify-content: center;
    }
     
}
@media (max-width: 766px){
    .containerForMainComponent {
        width: 100%;
        max-width: 540px;
      display: flex;
      justify-content: center;
    }
}
@media only screen and (max-width: 390px){
    .containerMain {
        margin-top:45px;
    }
}