.menuWrapper{
    display: none;
    
    #toggler {
        color: rgba(255,255,255,.5);
        height: auto;
        border-color: rgba(255,255,255,.1);
        background-color: #304977;
        padding: 4px 12px;
        margin-left: 0;
        svg{
            display: inline-block;
            font-size: 30px;
            color: rgba(255,255,255,.5);
            path{
                width: 30px!important;   
                height: 30px;
            }
            
        }
    }
    .menuContainer{
        background-color: #304977;
        display: flex;
        flex-direction: column;
        a{
            color:rgba(255,255,255,.5);
            text-decoration: none;
            padding: .5rem 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5; 
        }
    }
    .card-body {
        padding: 0;
        border:none!important;
    }
    .card {
        border:none!important;
    }
     
}
    @media only screen and (max-width: 991px) {
        .menuWrapper {
            display: block;
        }
            .container {
                padding-left: 0;
                padding-right: 0;
                display: flex;
                justify-content: space-between;
            }
            
    }