.containerForNavBar {
    padding-right: 15px;
    padding-left: 15px;
    width:25%;
}
.mainLogo {
    width: 200px;
    height: 200px;
    margin-top: 15%;
    display: flex;
    justify-content: start;
    img{
        width: 180px;
        height: 172.81px;
        vertical-align: middle;
        border-style: none;
    }
}
.scene {
    width: 200px;
    height: 200px;
    perspective: 400px;
   
}

.cube {
    width: 200px;
    height: 200px;
    margin-top: 15%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}

.cube {
    animation: spinCube 2.5s ease-in-out;
}

@keyframes spinCube {
    0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 100%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 100%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 100%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 100%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 100%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 100%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube.is-backface-hidden .cube__face {
    backface-visibility: hidden;
    display: none;
}
//  .cube__face--right ,.cube__face--back ,.cube__face--left,.cube__face--top,.cube__face--bottom{
//     display: none
// }
/*...............*/
/*...............*/
/*...............*/
.sidebar-icon{
    margin-top: 5%;
    width: 180px;
    height: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-icon-img{
    display: block;
    width: 180px;

    /*transition: 1.5s linear;*/
    /*transform-style: preserve-3d;*/
    /*background-color: #a37131;*/
    /*bottom: 0;*/
    /*content: '15 ';*/
    /*z-index: -10;*/
    /*!*-webkit-transform-origin: 100% 50%;*!*/
    /*-webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));*/
    /*width: 20px;*/
}
@-webkit-keyframes rotateY {
    0% { transform: rotateY( 16deg); }
    5% { transform: rotateY( 32deg); }
    10% { transform: rotateY( 48deg); }
    15% { transform: rotateY( 64deg); }
    25% { transform: rotateY( 80deg); }
    30% { transform: rotateY( 90deg); }

}
.navBarItem {
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    font-weight: 400!important;
    border: 0 none #ccc;
    border-bottom: 2px solid #ccc;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    a{
        color:#007bff;
        font-size: 20px;
        font-weight: 400!important;
        text-decoration: none;
        font-family: sans-serif;
        background-color: transparent;
       
    &:hover{
            font-size: 19px;
            color: #853500;
            text-decoration: none;
    }
   
    }
    img{
        margin-right: 5px;
    }
    
}
.itemsContainer {
    margin-top:1rem;
}
@media only screen and (max-width: 991px) {
    .containerForNavBar{
        display: none;
        
    }
}