 
.productContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.errorAboutProduct {
    color: rgb(175, 73, 73)
}
.spinerContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aqua
}