.productDescription {
    display: flex;

}
.productFormStyle {
    display: flex;
    flex-direction: column;
    width: 40%;
    label {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        color:#304977;
        font-weight: bold
    }
    option {
         &:hover {
             background-color: #7C8D8F
         }
    }
    select {
        margin-top: 2%;
        outline: none;
        border: 2px solid #7C8D8F
        
    }
}
.mainFormStyle {
    display: flex;
    flex-direction: column;
    width: 25%;
   
    label {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        color:#304977;
        font-weight: bold
    }
    option {
         &:hover {
             background-color: #7C8D8F
         }
    }
    select {
        margin-top: 2.5%;
        outline: none;
        border: 2px solid #7C8D8F 
    }
}
.productImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        margin: 0;
        color:#304977;
        font-weight: bold
    }
    img{
    height: 92px;
    min-width: 102px;
   
    //height 
    margin-top: 2.5%;  
    border: 2px solid #7C8D8F
    }
}
.typeFormStyle {
    display: flex;
    flex-direction: column;
    width: 25%;
   
    label {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        color:#304977;
        font-weight: bold
        
    }
    option {
         &:hover {
             background-color: #7C8D8F
         }
    }
    select {
        margin-top: 2.5%;
        outline: none;
        border: 2px solid #7C8D8F;
 
    }
}
// productDetailsContainer
.productDetailsContainer {
    display: flex;
    margin-top:5%
}
.iconArrow {
    color: #304977;
    height: 23px;
    width: 23px; 
}
#arrowIconId {
    margin-top: 7%;
}
// productQualityContainer
.productQualityContainer {
    display: flex;
    margin-top:5%  
}
#arrowIconForProductQuality{
    margin-top:3.5%
}
.productQaulityInputStyle {
    display: flex;
    width: 30%;
    label {
        display: flex;
        flex-direction: column;
        color:#304977;
        font-weight: bold
    }
    input {
        width: 100%;
        outline: none;
        border: 2px solid #7C8D8F;
        padding-left:5%;
    }
}
.orderButtonContainer {
    margin-top:1.5%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%
}
.addToBasket {
    min-width: 20%;
    margin-right: 5%;
    border:none;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    background-color:#304977;
    white-space: nowrap;
}
.makeOrder {
    border:none;
    width: 20%;
    border-radius: 5px;
    padding: 0.5% 2%;
    color: white;
    background-color:#304977;
    white-space: nowrap;
}
@media only screen and (max-width: 800px) {
    .productQualityContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        #arrowIconForProductQuality{
           display: none
        }
        form {
            width: 30%;
           
        }
    
    }
    .productDetailsContainer {
        flex-wrap: wrap;
        justify-content: space-between;
        form{
            width: 45%;
        };
        #arrowIconId {
            display: none
        }
    }
    .productDescription {
        flex-wrap: wrap;
        justify-content: space-between;
        form{
            width: 45%;
        };
        #arrowIconId {
            display: none
        }
    }
}
@media only screen and (max-width: 500px) {
    .productQualityContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        #arrowIconForProductQuality{
           display: none
        }
        form {
            width: 45%;
            min-width: 200px;
        }
    }
    .productDetailsContainer {
        flex-wrap: wrap;
        justify-content: space-between;
        form{
            width: 60%;
            min-width: 275px;
        };
        #arrowIconId {
            display: none
        }
    }
    .productDescription {
        flex-wrap: wrap;
        justify-content: space-between;
        form{
            width: 60%;
            min-width: 275px;
        };
        #arrowIconId {
            display: none
        }
    }
    .orderButtonContainer {
        margin-top:1.5%;
        display: flex;
        justify-content: center; 
    }
}
@media only screen and (max-width: 300px){
    .productQualityContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        #arrowIconForProductQuality{
           display: none
        }
        form {
            width:90%!important;
            min-width: 150px;
        }
    
    }
    .productDetailsContainer {
        flex-wrap: wrap;
        justify-content: space-between;
        form{
            width:90%!important;
            min-width: 150px;
            margin: auto;
        };
        #arrowIconId {
            display: none
        }
    }
    .productDescription {
        flex-wrap: wrap;
        justify-content: space-between;
        form{
            width:90%!important;
            min-width: 150px;
        };
        #arrowIconId {
            display: none
        }
    }
}