.product-page-title h2{
    float: right;
    color: #853500;
}
.main-category-title h4{
    float: right;
    color: #853500;
}
.row-start-right{
    display: inline;
}
.category-item-right{
    padding-right: 5px;
    padding-left: 5px;
    float: right !important;
}
.category-items{
    display: flex;
    flex-direction: row;
    background-color: #304977;
    border: 3px solid #304977;
    height: auto;
}
.category-items img{
    width: 100px;
    height: 100px;
}
.card-body{
    padding-top: 2%;
    padding-left: 3%;
    padding-bottom: 0;
    padding-right: 0;
}
.card-body a{
    color: white;
}
.card-title{
    font-size: 20px;
    margin: 0;
}
.card-text{
    font-size: 12px;
    color: white;
    padding: 0;
    /*word-break: break-all;*/
    bottom:0;
}

/*Product List*/



/*Data Table CSS*/
.dataTables_paginate .pagination {
    border-radius: 0;
}
.dataTables_paginate .pagination li {
    border-radius: 0 !important;
}
.dataTables_paginate .pagination li a {
    border-radius: 0 !important;
    color: #272c33;
}
.dataTables_paginate .pagination li.active a {
    background: #272c33;
    border-color: #272c33;
    color: #fff;
}
.dataTables_paginate .pagination li:hover a {
    background: #272c33;
    border-color: #272c33;
    color: #fff;
}

/*END Data Table CSS*!*/
.search-title{
    /*display: inline;*/
    color: #853500;
}

.product-table{
    position: relative !important;
    width: 100% !important;
    font-size: 60%;
}
.product-table th{
    margin: 0;
    padding: 0;
}
.product-table td{
    margin: 0;
    padding: 0;
}
.prod-table-border{
    border: none !important;
}