.btn-secondary {
    background-color: #304977;
    padding: 1px 15px;
    height: 28px;
    width: fit-content;
    margin-left: 15px;
    text-align: center;
    &:hover {
        background-color: #7C8D8F;
    }
     
}
.modal-dialog {
    height: 100%;
    .modal-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
//media for modal 
@media only screen and (max-width: 800px) {
    .modal-content *{
        font-size: 15px;
    }
}