.tableHeader {
    background-color: #304977;
    color: white;
    text-align: center
}
.divForIcons {
    display: flex;
    justify-content: space-evenly;
}
td {
    text-align: center;
 svg{
     height: 20px;
     width: 20px;
     margin-right: 5px;
     color:#304977;

     
    cursor: pointer;
 }
}
.buttonBuyAll {
    background-color: #304977;
    color: white;
    border: none;
    border-radius: 5%;
    float: right;
    padding:5px 10px
}
.buttonBuy {
    background-color: #304977;
    color: white;
    border: none;
    border-radius: 5%;
    margin-left: 5px;
    padding:5px 15px
    
    
}
.productQuantity {
    margin:20px 0;
    label {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        color:#304977;
        input {
            width: 95%;
            padding-left: 10px;
            border: 1px solid #7C8D8F;
          
            outline: none
        }
    }
}
//order page styling 
.orderButtonsContainer {
    display: flex;
    justify-content: space-between;
    button{
        background-color: #7C8D8F;
        color: white;
        border: none;
        border-radius: 5%;
        float: right;
        padding:5px 10px
    }
    .buttonBuyAll {
        margin-bottom: 0;
    }

}
//basket page 
.basketButtonsContainer {
    display: flex;
    justify-content: space-between;
    .deleteAllButton {
        background-color: #7C8D8F;
        color: white;
        border: none;
        border-radius: 5%;
        float: right;
        padding: 5px 10px;
    }
}
@media only screen and (max-width: 500px){
    th,td {
        padding: 8px!important ;
        font-size: 12px!important
    }
}