@import './tableComponent.scss';

.userInformationContainer {
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    input{
        margin-left :'15px'
    }
}

.userInformationHeader {
    display : flex;
    margin: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    img{
        height: 200px;
        width: 200px;
        margin: 0 15px;
    }
}
 .fieldForName {
     div{
        margin: 15px;
         display: flex;
         white-space: wrap;
         align-items: center;
     }
 }
 .favoritesAndBasket {
     display: flex;
     justify-content: flex-end;
    * {
        margin : 10px;
        height : 25px;
        width : 25px;
        color : #304977;
        cursor: pointer;
    }
 }
 .userInformationMain {
     display: flex;
     flex-direction: column;
     margin: 15px;
     div{
        margin: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap
     }

 }
 .exitButtonsContainer {
     display: flex;
     justify-content: space-between;
     margin: 15px 30px;
     button{
        background-color: #304977;
        color: white;
        border: none;
        border-radius: 5%;
        padding: 5px 15px;
     }
     .exitButton{
        color: white;
        text-decoration: none;
     }
     .confirmation {
         p {
            background-color: #304977;
            color: white;
            border: none;
            border-radius: 5%;
            padding: 5px 15px;
            margin-bottom: 0;
         }
     }
 }
 //user information modals
 .userInformationModal {
     .modal-content {
         .modal-header {
             border-bottom: none;
             
             font-size: 24px;
             .modal-title {
                text-align: center;
             }
         }
         .modal-footer {
             border-top: none;
             display: flex;
             justify-content: space-between;
         }
     }
}
.userInformationModalInputForPassword{
    width: 100%;
    label {
        display: flex;
        font-size:24px;
        text-align: center;
        input {
            width: 95%;
            padding-left: 10px;
            border: 1px solid #7C8D8F;
            border-right: none;
            outline: none
        }
        .showPasswordIcon {
            height: 40px;
            border: 1px solid #7C8D8F;
            border-left: none;
            padding-right: 5px;
            cursor: pointer;
        }
    }
}
 .userInformationModalInput {
     width: 100%;
     label {
         display: flex;
         flex-direction: column;
         font-size:24px;
         text-align: center;
         input {
             width: 100%;
             padding-left: 10px
         }
     }
 }
 .exitButton{
    color: white;
    text-decoration: none;
 }
 //history page styling 
 .pageHeader {
     text-align: right;
     color:#853500;
 }
 .userInformationStyle {
     font-weight: bold;
     margin: 0!important;
     white-space: nowrap;
 }
 //modals styling 
 .deleteAccount {
     .modal-content {
        .modal-footer {
            border-top: none;
            justify-content: space-between;
            button {
                min-width: 150px;
                height: 30px;
            }
            
        }
     };
     .conformationText{
        text-align: center;
        font-size: 24px;
     }
 }
 //media for user account page
 @media only screen and (max-width: 800px) {
    .favoritesAndBasket {
        * { 
            height : 20px;
            width : 20px;
        }
    }
    .userInformationContainer{
        font-size: 15px;
    }
    .userInformationModalInputForPassword{
        label {
            font-size:16px;
            input {
                height: 30px;
            }
            .showPasswordIcon {
                height: 30px;
               
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .userInformationHeader {
        margin-bottom: 0;
    }
    .userInformationMain {
        margin-top:0;
    }
    .toggleClassNameExitModal {
        font-size: 14px
    }
}
@media only screen and (max-width: 300px) {
    .userInformationHeader {
        img{
            height: 100px;
            width: 100px;
            margin: 0;
        }
    }
    .btn-secondary {
        margin-left:10px;
        height: 30px;
        align-content: center;
        padding: 0;
        .changeData{
            margin: 5px;
        }
    }
}