@media only screen and (max-width: 1000px) {
    /* styles for browsers smaller than 960px; */
    .main-logo{
        padding-top: 10%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages{
        width: auto;
        padding-top: 8%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages a{
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 26px;
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
    .main-page-text{
        width: 100%;
        margin-top: 7%;
        margin-bottom: 10%;
        text-align: center;
        font-size: 22px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 700px) {
    /* styles for browsers smaller than 700px; */
    .main-logo{
        padding-top: 15%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages{
        width: auto;
        padding-top: 8%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages a{
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 25px;
        color: white;
        text-decoration: underline;
    }
    .main-page-text{
        width: 100%;
        margin-top: 7%;
        /*margin-bottom: 10%;*/
        text-align: center;
        font-size: 17px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 500px) {
    /* styles for browsers smaller than 400px; */
    .main-logo{
        padding-top: 18%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages{
        width: auto;
        padding-top: 8%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages a{
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 25px;
        color: white;
        text-decoration: underline;
    }
    .main-page-text{
        width: 90%;
        margin-top: 7%;
        /*margin-bottom: 10%;*/
        text-align: center;
        font-size: 16px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 400px) {
    /* styles for browsers smaller than 400px; */
    .main-logo{
        padding-top: 22%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-logo img{
        width: 160px;
        height: 160px;
    }
    .main-pages{
        width: auto;
        padding-top: 8%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .main-pages a{
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 25px;
        color: white;
        text-decoration: underline;
    }
    .main-page-text{
        width: 90%;
        margin-top: 7%;
        /*margin-bottom: 10%;*/
        text-align: center;
        font-size: 14px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 360px) {
    .main-pages a{
        padding-bottom: 2%;
        margin-bottom: 8%;
        font-size: 20px;
        color: white;
        text-decoration: underline;
    }
    .main-page-text{
        width: 90%;
        margin-top: 7%;
        /*margin-bottom: 10%;*/
        text-align: center;
        font-size: 11px;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}