/*Main Index CSS*/
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url('/images/main_background.png');

}
.main-content-full{
    width: 100%;
    height: 100vh;
    max-height: 100%;
}
.main-logo{
    padding-top: 7%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-logo img{
    width: 180px;
    height: 180px;
}
.main-pages{
    width: auto;
    padding-top: 8%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-pages a{
    padding-bottom: 2%;
    margin-bottom: 10%;
    font-size: 29px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.main-pages a:hover{
    color: #cccccc;
    text-decoration: none;
}
.main-page-text{
    width: 90%;
    margin-top: 10%;
    text-align: center;
    font-size: 24px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
