.add-btn{
    float: right;
}
.img-btn{
    color: white;
    background-color: #524d4d;
    margin-right: 5%;
}
.header-btn{
    color: white;
    background-color: #853500;
    margin-right: 5%;
}
.content-btn{
    color: white;
    background-color: #304977;
}
.modal-backdrop{
    position: inherit;
}
