/*Header css*/

.header .header-items {
    -ms-flex-direction: row;
    flex-direction: row !important;

    display: flex !important;
    align-items: flex-start !important;
    flex-wrap: nowrap !important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none !important;
}
.navbar {
    background-color: #304977 !important;
}
.navbar .container{
    display: block;
}
.collapse:not(.show) {
    display: none !important;
}
.header-to-right{
    display: flex;
    flex-flow: row nowrap;
    float: right;
}
.nav-item{
    margin-right: 15%;
}
.language-bar{
    margin-top: 12%;
    margin-bottom: 5%;
    padding-top: 8%;
    padding-bottom: 12%;
    padding-right: 10%;
    border-radius: 5%;
    text-align: center;
    width: 45px;
}
.language-bar:hover{
    background: #7C8D8F;
}
.language-bar img {
    height: 20px;
}

.language-bar .dropdown-menu {

    background: #7C8D8F;
    z-index: 9000;
    min-width: 60px;
}
.dropdown-toggle::after{
    display: none !important;
}

.language-bar .dropdown-menu li a{
    padding-left: 5px !important;
}
.language-bar .dropdown-menu li:hover{
    opacity: 0.8;
}
.language-bar .dropdown-toggle img {
    opacity: 1;
    margin-left: 5px;
}
.language-bar .dropdown-toggle img:hover {
    opacity: 0.8;
}
.language-bar ul.dropdown-menu{
    border-radius: 1px !important;
    min-width: 45px !important;
    border-color: transparent !important;
    margin-top: 0px !important;

}
.contact-button-link{
    color: white !important;

    text-align: center !important;
}
.contact-button-link:hover{
    color: #cccccc !important;
    text-decoration: none !important;
}
.contact-button{
    margin: auto;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    /*width: 80px;*/
    height: 33px;
    text-align: center;
    border-style: solid ;
    border-width: 3px;
    border-color: white;
    border-radius: 20px;
    line-height: 1 !important;
}

/*END Header CSS*/

/*SlideBar CSS*/

/*...............*/
/*...............*/
/*...............*/
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
    width: 200px;
    height: 200px;
    perspective: 400px;
}

.cube {
    width: 200px;
    height: 200px;
    margin-top: 15%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
}

.cube.is-spinning {
    animation: spinCube 2.5s ease-in-out;
}

@keyframes spinCube {
    0% { transform: translateZ(-100px) rotateX(  0deg) rotateY(  0deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg); }
}

.cube__face {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.cube__face--front  { background: hsla(  0, 100%, 100%, 0.7); }
.cube__face--right  { background: hsla( 60, 100%, 100%, 0.7); }
.cube__face--back   { background: hsla(120, 100%, 100%, 0.7); }
.cube__face--left   { background: hsla(180, 100%, 100%, 0.7); }
.cube__face--top    { background: hsla(240, 100%, 100%, 0.7); }
.cube__face--bottom { background: hsla(300, 100%, 100%, 0.7); }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

.cube.is-backface-hidden .cube__face {
    backface-visibility: hidden;
}
/*...............*/
/*...............*/
/*...............*/
.sidebar-icon{
    margin-top: 5%;
    width: 180px;
    height: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-icon-img{
    display: block;
    width: 180px;

    /*transition: 1.5s linear;*/
    /*transform-style: preserve-3d;*/
    /*background-color: #a37131;*/
    /*bottom: 0;*/
    /*content: '15 ';*/
    /*z-index: -10;*/
    /*!*-webkit-transform-origin: 100% 50%;*!*/
    /*-webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));*/
    /*width: 20px;*/
}
/*.sidebar-icon-img:after {*/
    /*left: 45px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*-webkit-transform: rotateY(-90deg);*/
/*}*/
/*.sidebar-icon-img:before {*/
    /*background-color: #a37131;*/
    /*background-image: -webkit-linear-gradient(hsla(0,0%,100%,.25), hsla(0,0%,0%,.25));*/
    /*border-radius: 100%;*/
    /*content: '';*/
    /*height: 100px;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100px;*/
    /*-webkit-transform: translateZ(-5px);*/
/*}*/
/*.sidebar-icon-img:hover {*/
    /*-webkit-transform: rotateY(90deg);*/
/*}*/
/*@-webkit-keyframes logo {*/

    /*0% { transform: rotateY( 16deg); }*/
    /*5% { transform: rotateY( 32deg); }*/
    /*10% { transform: rotateY( 48deg); }*/
    /*15% { transform: rotateY( 64deg); }*/
    /*25% { transform: rotateY( 80deg); }*/
    /*30% { transform: rotateY( 90deg); }*/

/*}*/
.sidebar-icon a:hover {
    width: 180px;
    height: 180px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-link-group{

}
.sidebar-links{
    font-size: 20px;
    border: 0 none #ccc;
    border-bottom: 2px solid #ccc;
}
.sidebar-links a:hover{
    font-size: 19px;
    color: #853500;
    text-decoration: none;
}
/*EDN SlideBar CSS*/

/*Footer CSS*/
.footer-body{
    padding: 0 !important;
    padding-top: 1rem !important;
    background-color: #7C8D8F;
}
.footer-content{
    width: 100%;
    font-size: 18px;
    text-align: center;
    display: inline-flex;
}
.footer-links{
    width: 70%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer-links img{
    width: 18px;
    height: 18px;
}
.footer-link-style{
    width: 100%;
    padding: 0;
    text-align: left;
}
.footer-link-style a{
    color: white !important;
}
.footer-links-top{
    width: 100%;
    padding:0 !important;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;

}
.footer-links-bottom{
    width: 100%;
    padding:0 !important;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}
.footer-logo{
    width: 25%;
}
.footer-logo img{
    width: 160px;
    height: 160px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.web-developer{
    margin-bottom: 0.5%;
    width: 100%;
    font-size: 11px;
    bottom:0;
}
.web-developer a{
    color: #d9d9d9;
    font-size: 11px;

}

/*EDN Footer CSS*/