@media only screen and (max-width: 1110px) {
    /* styles for browsers smaller than 1150px; */
    .footer-content{
        width: 100%;
        font-size: 17px;
        text-align: center;
        display: inline-flex;
    }
    .footer-links img{
        width: 17px;
        height: 17px;
    }
    .footer-logo img{
        width: 150px;
        height: 150px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 991px) {
    /* styles for browsers smaller than 400px; */
    .sidebar {
        display: none;
    }

    .header-items {
        display: flex !important;
        align-items: flex-start !important;
        flex-wrap: nowrap !important;
        list-style: none !important;
    }
    .footer-content{
        width: 100%;
        font-size: 16px;
        text-align: center;
        display: inline-flex;
    }
    .footer-logo{
        width: 24%;
    }
    .footer-logo img{
        width: 140px;
        height: 140px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 665px) {
    .footer-content{
        width: 100%;
        font-size: 14px;
        text-align: center;
        display: inline-flex;
    }
    .footer-links{
        width: 74%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: auto;
        margin-top: auto;
        padding: 0;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-logo{
        width: 22%;
    }
    .footer-logo img{
        width: 120px;
        height: 120px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 560px){
    .footer-content{
        width: 100%;
        font-size: 12px;
        text-align: center;
        display: inline-flex;
    }
    .footer-links{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 10%;
        margin-top: auto;
        padding: 0;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-logo{
        display: none;
    }
}
@media only screen and (max-width: 390px){
    .footer-content{
        width: 100%;
        font-size: 14px;
        text-align: center;
        display: inline-flex;
    }
    .footer-links{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 10%;
        margin-top: auto;
        padding: 0;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .footer-link-style{
        text-align: center;
        width: 100% !important;
    }
    .footer-link-style img{
        display: none;
    }
    .footer-links-top{
        width: 100%;
        padding:0 !important;
        margin: 0;
        text-align: center;
        display: inline;
        justify-content: center;
    }
    .footer-links-bottom{
        width: 100%;
        padding:0 !important;
        margin: 0;
        text-align: center;
        display: inline;
        justify-content: center;
    }

}



@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width: 768px) {
    /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}