/*About Us Page CSS*/
.about-page-title h2{
    float: right;
    color: #853500;
}
.page-content{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.content-text{
    /*width: 100%;*/
    font-size: 20px;
    color: #304977;
}
.page-title h2{
    float: right;
    color: #853500;
}
.page-title h3{
    float: right;
    color: #853500;
}

.about-content-img{
    padding:1%;
    width:100%;
    height: 100%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
}
.about-content-img img{
    width: 100%;
}

/*Quality assurance Page CSS*/
.quality-page-title h2{
    float: right;
    color: #853500;
}
.quality-content-img img{
    width: 100%;
}
.content-text{
    /*width: 100%;*/
    font-size: 20px;
    color: #304977;
}
.quality-page-middle-title h2{
    color: #853500;
}

/*Applications assurance Page CSS*/
.applications-page-title h2{
    float: right;
    color: #853500;
}
.applications-page-title h3{
    float: right;
    color: #853500;
}
.applications-content{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.applications-content-img{
    padding:1%;
    width:100%;
    height: 100%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
}
.applications-content-img img{
    width: 100%;
}
.applications-content-text{
    /*width: 100%;*/
    font-size: 20px;
    color: #304977;
}
.applications-page-middle-title h2{
    color: #853500;
}

/* Compounds assurance Page CSS*/
.compounds-page-title h2{
    float: right;
    color: #853500;
}
.compounds-page-title h3{
    float: right;
    color: #853500;
}
.compounds-content{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.compounds-content-text{
    /*width: 100%;*/
    font-size: 20px;
    color: #304977;
}
.compounds-page-middle-title h2{
    color: #853500;
}
.compounds-content-img{
    padding:1%;
    width:100%;
    height: 100%;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0px;
}
.compounds-content-img-big img{
    width:99%;
}

/*Download Page CSS*/
.downloads-page-title h2{
    float: right;
    color: #853500;
}
.downloads-page-title h4{
    float: right;
    color: #304977;
}
.downloads-content{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.downloads-file-info{

}

/*Contacts Page CSS*/
.contacts-page-title h2{
    float: right;
    color: #853500;
}
.contacts-page-title h4{
    float: right;
    color: #304977;
}
.contacts-content{
    margin-top: 5%;
    color: #304977;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
 }
.contacts-address{
    width: 100%;
    margin: 0;
    font-size: 18px;
    line-height: 1.3 !important;
}
.contacts-address p{
    margin: 0;
}
.contact-page-middle-title{
    float: right;
    color: #853500;
}
.form-check .form-check-label{
    margin-right: 20%;
}

/*Privacy Policy CSS*/
.privacy-page-title h2{
    float: right;
    color: #853500;
}
.privacy-content{
    margin-top: 5%;
    color: #304977;
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.privacy-page-middle-title h4{
    float: right;
    color: #853500;
}
.privacy-page-middle-title h5{
    float: right;
    color: #304977;
}
.privacy-content-text{
    font-size: 20px;
    color: #304977;
}

/*Imprint Page CSS*/
.imprint-page-title h2{
    float: right;
    color: #853500;
}
.imprint-content{
    margin-top: 5%;
    color: #304977;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.imprint-page-middle-title h4{
    float: right;
    color: #853500;
}
.imprint-content-text{
    color: #304977;
}
.imprint-address{
    width: 70%;
}
.imprint-mobile p{
    margin: 0;
}
.imprint-stuff{

}
.imprint-contact-button{
    width: 110px;
    height: 35px;
    margin-bottom: 5%;
    float: right;
}
.prod-eshop-link{
    color: black !important;
}
.e-shop-page-auth{
    display: flex;
    margin-bottom: 40px;
}
.e-shop-page-login{
    width: 90px;
    height: 28px;
    margin-right: 2%;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #7C8D8F;
    text-align: center;
    vertical-align: middle;
}
.e-shop-page-login:hover{
    color: #304977;
    text-decoration:none !important;
}
.e-shop-page-register{
    width: 115px;
    height: 28px;
    margin-right: 2%;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    background-color: #7C8D8F;
    text-align: center;
    vertical-align: middle;
}
.e-shop-page-register:hover{
    color: #304977;
    text-decoration:none !important;
}

/*Auth Login Register CSS*/
.auth-navbar{
    background-color: #304977 !important;
}
.auth-page{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url(/images/main_background.png);
    background-color: #7C8D8F !important;
}